<div style="display: inline-flex; width: 100%">

	<%= render 'index' %>

	<div style="padding: 1em; display: table; margin: auto;">

		<div class=player>

			<%= @player.number %> - <%= @player.name %>

			<br/>
			<br/>

			<table>

				<% [:speed, :stamina, :play_intelligence, :passing, :shooting, :header, :keeping, :ball_control, 
					:tackling, :cross_balls, :set_plays, :experience, :form].each do |attr| %>
					<tr>
						<td><%= I18n.t(attr) %></td>
						<td>
							<% (0..@player.attributes.send(attr)).each do || %>
								<%= image_tag 'skill.png' %>
							<% end %>
						</td>
						<td>(<%= @player.attributes.send(attr) %>)</td>
					</tr>
				<% end %>

			</table>

		</div>

	</div>

</div>