<!DOCTYPE html>
<html>
<head>
	<title>MZ Player Evolution</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
	<div class=toolbar>
		<%= link_to 'Players', players_path, class: 'button' %>
		<%= link_to 'Import MZ Data', new_import_path, class: 'button' %>
	</div>
<% end %>

<p class=notice><%= notice %></p>
<p class=alert><%= alert %></p>

<center><%= yield %></center>

</body>
</html>